# Scraping with Pandas

In [39]:
import pandas as pd
from pandas import DataFrame

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [40]:
url = 'https://developers.google.com/public-data/docs/canonical/countries_csv'

In [41]:
tables = pd.read_html(url)
tables

[    country   latitude  longitude                  name
 0        AD  42.546245   1.601554               Andorra
 1        AE  23.424076  53.847818  United Arab Emirates
 2        AF  33.939110  67.709953           Afghanistan
 3        AG  17.060816 -61.796428   Antigua and Barbuda
 4        AI  18.220554 -63.068615              Anguilla
 ..      ...        ...        ...                   ...
 240      YE  15.552727  48.516388                 Yemen
 241      YT -12.827500  45.166244               Mayotte
 242      ZA -30.559482  22.937506          South Africa
 243      ZM -13.133897  27.849332                Zambia
 244      ZW -19.015438  29.154857              Zimbabwe

 [245 rows x 4 columns]]

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [32]:
type(tables)

list

In [49]:
df = tables[0]
df.columns = ['country', 'latitude','longitude','name']
df.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [ ]:
#engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/traffic_db')
#conn = engine.connect()